p {
  font-size: 1.2em;
}

.container h2 {
  font-weight: 700;
  margin-bottom: 1em;
  border-bottom: 5px solid #333;
  font-size: 3em;
}

.container {
  margin: 4em;
}

.images {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin-bottom: 5em;
}

.text {
  font-size: 2em;
  margin-bottom: 2em;
}

iframe {
  outline: 5px solid #333;
}

@media only screen and (max-width: 1150px) {
  iframe {
    margin-bottom: 2em;
  }
}
